@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 500px;
    height: 300px;
    color: whitesmoke;
    cursor: pointer;
    perspective: 1000px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;   
    transition: transform 1s;
    transform-style: preserve-3d;
}
    
.front, .back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chip{
    width: 79px;
    height: 62px;
}
.map-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3 ;
    z-index: -1;
}
.card-no{
    font-size: 35px;
    margin-top: 60px;
}
.card-holder{
    margin-top: 40px;
    font-size: 12px;
}
.name{
    font-size: 20px;
    margin-top: 11px;
}
.bar{
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}
.card-cvv{
    margin-top: 20px; 
}
.card-cvv div{
    flex: 1;
}
.card-cvv img{
    width: 100%;
    display: block;
    line-height: 0;
}
.card-cvv p{
    background: whitesmoke;
    color: #000;
    font-size: 20px;
    padding: 8px 18px;
}
.card-text{
    margin-top: 30px;
    font-size: 13px;
}
.imza{
    margin-top: 20px;
}
.back{
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(-180deg);
}

#preloader{
    background: #000 url(img/preloader.gif) no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
